[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
djangorestframework = "*"
django-seed = "*"
psycopg2 = "*"
django-filter = "*"
pillow = "*"
drf-nested-routers = "*"

[dev-packages]

[requires]
python_version = "3.11"
